[alias]
  amend = commit  --amend -C HEAD
  br = branch --list
  bra = branch --list -a
  branches = branch --list -a
  ci = commit
  co = checkout
  fi = commit --fixup
  tags = tag --list
  rfi = rebase -i --autosquash
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rollback = reset --soft HEAD^
  update = checkout
  st = status --short
  trash = reset --hard
  purge =  clean -fd
  wip = commit -am 'WIP'
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[core]
  editor = vim
[push]
  default = current

[rebase]
  autosquash = true

[user]
	email = killian.kemps@etu-webschoolfactory.fr
	name = Killian Kemps
